.scrolling-words-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 3rem;
}

.scrolling-words-box {
  height: 3rem;
  overflow: hidden;

  ul {
    margin: 0 0.625rem;
    padding: 0;
    animation: scrollUp 2s infinite;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 3rem;
      list-style: none;
    }
  }
}

$item-count: 3;

@keyframes scrollUp {
  @for $i from 1 through ($item-count - 1) {
    #{($i * 25) - 10%},
    #{$i * 25%} {
      transform: translateY(calc(-100% / $item-count) * $i);
    }
  }
}

.divSquare {
  width: 50%;
  height: 33%;
  float: left;
}

.header {
  background-color: #e5e5f7;
  opacity: 0.4;
  background: repeating-linear-gradient(
    -45deg,
    #001529,
    #001529 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
}
